@media (max-width: 899px) {
  .actions {
    flex-direction: column;
  }

  .actions button {
    margin-top: 15px;
  }

  .badge-title {
    margin-bottom: 50px !important;
  }

  .style-progress {
    width: calc(90% / 3)
  }
}