.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bold-text {
  font-weight: bold;
}

@media (max-width: 899px) {
  .cards {
    flex-direction: column-reverse !important;
    margin-bottom: 14px !important;
  }

  .actions {
    flex-direction: column;
  }

  .actions button {
    margin-top: 15px;
  }

  .badge-title {
    margin-bottom: 50px !important;
  }

  .style-progress {
    width: calc(90% / 3)
  }

  .table {
    margin-top: 0 !important;
  }
}