.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 899px) {
  .cards {
    flex-direction: column-reverse !important;
    margin-bottom: 14px !important;
  }

  .table {
    margin-top: 0 !important;
  }
}